# Database Settings
DB_PASSWORD=your_super_secret_password_here
DATABASE_URL=postgresql://postgres:your_super_secret_password_here@localhost:5432/ecommerce?schema=public

# Auth Settings
JWT_SECRET=your_jwt_secret_key_here

# Mail Settings
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mail_user
MAIL_PASS=your_mail_pass
MAIL_FROM="No Reply <noreply@ecommerce.com>"

# Cache & Search Settings
REDIS_HOST=localhost
REDIS_PORT=6379
ELASTICSEARCH_NODE=http://localhost:9200